# CSV file mul and 1

## Load Data

In [1]:
import pandas as pd

fileName = 'Malo_spd3_pos copy.csv'
dataset = pd.read_csv(fileName, header=None, engine='python')
dataset.shape

(9070, 64)

In [2]:
dataset.head(5)

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,21.0,-8.135392,7.700772,3.112788,9.515943,2.965749,-6.366266,-2.241375,-8.135392,21.0,...,21.0,8.799818,-2.241375,-4.059431,-7.266304,-7.504407,-2.314355,-20.871413,8.799818,21.0
1,21.0,-9.452466,6.098857,0.704200,-4.722745,6.153088,-2.654906,-6.069538,-9.452466,21.0,...,21.0,7.766109,-6.069538,-1.254426,-13.609489,-12.501960,7.621302,-20.404866,7.766109,21.0
2,21.0,-8.640475,-3.246727,-4.329458,4.552375,-9.892394,1.903553,6.955528,-8.640475,21.0,...,21.0,-11.369550,6.955528,-1.569607,-12.856229,-12.856250,12.074999,-12.486377,-11.369550,21.0
3,21.0,-2.821141,4.635184,0.911059,-0.167009,0.586843,1.272641,-0.775522,-2.821141,21.0,...,21.0,-17.955487,-0.775522,17.501405,-16.956909,-19.884618,-17.214798,-20.958513,-17.955487,21.0
4,21.0,0.875315,-6.060264,-7.448376,-8.312599,-4.955092,-5.611131,5.224006,0.875315,21.0,...,21.0,-6.499677,5.224006,12.153632,-16.127327,-18.478752,1.291085,-20.933365,-6.499677,21.0

## CSV to list

In [3]:
import csv

with open('Malo_spd3_pos copy.csv', 'r') as f:
  reader = csv.reader(f)
  my_list = list(reader)

## Multiply Multiply by a certain number

In [4]:
import numpy as np

new_list = list(np.float_(my_list))


my_new_list = []
for i in new_list:
    my_new_list.append(i * 1.0005)

In [5]:
print(len(my_new_list))

9070

## Save the CSV file

In [6]:
import numpy as np
myarray = np.asarray(my_new_list)
np.savetxt("Malo_pos_mul.csv", myarray, delimiter=",")

## Load new data after multiplication

In [7]:
fileName = 'Malo_pos_mul.csv'
dataset = pd.read_csv(fileName, header=None, engine='python')
dataset.shape

(9070, 64)

In [8]:
dataset.head(5)

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,21.0105,-8.139459,7.704622,3.114344,9.520701,2.967232,-6.369449,-2.242496,-8.139459,21.0105,...,21.0105,8.804218,-2.242496,-4.061461,-7.269938,-7.508160,-2.315512,-20.881849,8.804218,21.0105
1,21.0105,-9.457192,6.101907,0.704552,-4.725107,6.156164,-2.656233,-6.072573,-9.457192,21.0105,...,21.0105,7.769992,-6.072573,-1.255053,-13.616293,-12.508211,7.625112,-20.415069,7.769992,21.0105
2,21.0105,-8.644795,-3.248351,-4.331623,4.554651,-9.897341,1.904505,6.959006,-8.644795,21.0105,...,21.0105,-11.375235,6.959006,-1.570392,-12.862658,-12.862678,12.081036,-12.492620,-11.375235,21.0105
3,21.0105,-2.822552,4.637502,0.911514,-0.167093,0.587136,1.273277,-0.775910,-2.822552,21.0105,...,21.0105,-17.964465,-0.775910,17.510156,-16.965387,-19.894561,-17.223406,-20.968992,-17.964465,21.0105
4,21.0105,0.875752,-6.063294,-7.452100,-8.316755,-4.957570,-5.613936,5.226618,0.875752,21.0105,...,21.0105,-6.502927,5.226618,12.159708,-16.135390,-18.487992,1.291731,-20.943832,-6.502927,21.0105

## Positive = 1

In [9]:
dummy_one = np.ones(len(dataset), dtype='int')
series = pd.Series(dummy_one)
dataset = pd.concat([dataset, series], axis=1)

In [10]:
dataset.shape

(9070, 65)

In [11]:
dataset.head(5)

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,0
0,21.0105,-8.139459,7.704622,3.114344,9.520701,2.967232,-6.369449,-2.242496,-8.139459,21.0105,...,8.804218,-2.242496,-4.061461,-7.269938,-7.508160,-2.315512,-20.881849,8.804218,21.0105,1
1,21.0105,-9.457192,6.101907,0.704552,-4.725107,6.156164,-2.656233,-6.072573,-9.457192,21.0105,...,7.769992,-6.072573,-1.255053,-13.616293,-12.508211,7.625112,-20.415069,7.769992,21.0105,1
2,21.0105,-8.644795,-3.248351,-4.331623,4.554651,-9.897341,1.904505,6.959006,-8.644795,21.0105,...,-11.375235,6.959006,-1.570392,-12.862658,-12.862678,12.081036,-12.492620,-11.375235,21.0105,1
3,21.0105,-2.822552,4.637502,0.911514,-0.167093,0.587136,1.273277,-0.775910,-2.822552,21.0105,...,-17.964465,-0.775910,17.510156,-16.965387,-19.894561,-17.223406,-20.968992,-17.964465,21.0105,1
4,21.0105,0.875752,-6.063294,-7.452100,-8.316755,-4.957570,-5.613936,5.226618,0.875752,21.0105,...,-6.502927,5.226618,12.159708,-16.135390,-18.487992,1.291731,-20.943832,-6.502927,21.0105,1

## After positive = 1 and save the new CSV file

In [12]:
dataset.to_csv('Malonylation_positive.csv')

## Remove unnecessary row and column

In [13]:
import pandas as pd

fileName = 'Malonylation_positive.csv'
dataset = pd.read_csv(fileName, header=None, engine='python')
dataset.shape

(9071, 66)

In [14]:
dataset.head(5)

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,64,65
0,NaN,0.0000,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000,...,55.000000,56.000000,57.000000,58.000000,59.000000,60.000000,61.000000,62.000000,63.0000,0
1,0.0,21.0105,-8.139459,7.704622,3.114344,9.520701,2.967232,-6.369449,-2.242496,-8.139459,...,8.804218,-2.242496,-4.061461,-7.269938,-7.508160,-2.315512,-20.881849,8.804218,21.0105,1
2,1.0,21.0105,-9.457192,6.101907,0.704552,-4.725107,6.156164,-2.656233,-6.072573,-9.457192,...,7.769992,-6.072573,-1.255053,-13.616293,-12.508211,7.625112,-20.415069,7.769992,21.0105,1
3,2.0,21.0105,-8.644795,-3.248351,-4.331623,4.554651,-9.897341,1.904505,6.959006,-8.644795,...,-11.375235,6.959006,-1.570392,-12.862658,-12.862678,12.081036,-12.492620,-11.375235,21.0105,1
4,3.0,21.0105,-2.822552,4.637502,0.911514,-0.167093,0.587136,1.273277,-0.775910,-2.822552,...,-17.964465,-0.775910,17.510156,-16.965387,-19.894561,-17.223406,-20.968992,-17.964465,21.0105,1

In [20]:
df = pd.DataFrame(dataset)

df = df.iloc[1:, 1:]

In [24]:
df.head(5)

,1,2,3,4,5,6,7,8,9,10,...,56,57,58,59,60,61,62,63,64,65
1,21.0105,-8.139459,7.704622,3.114344,9.520701,2.967232,-6.369449,-2.242496,-8.139459,21.0105,...,8.804218,-2.242496,-4.061461,-7.269938,-7.508160,-2.315512,-20.881849,8.804218,21.0105,1
2,21.0105,-9.457192,6.101907,0.704552,-4.725107,6.156164,-2.656233,-6.072573,-9.457192,21.0105,...,7.769992,-6.072573,-1.255053,-13.616293,-12.508211,7.625112,-20.415069,7.769992,21.0105,1
3,21.0105,-8.644795,-3.248351,-4.331623,4.554651,-9.897341,1.904505,6.959006,-8.644795,21.0105,...,-11.375235,6.959006,-1.570392,-12.862658,-12.862678,12.081036,-12.492620,-11.375235,21.0105,1
4,21.0105,-2.822552,4.637502,0.911514,-0.167093,0.587136,1.273277,-0.775910,-2.822552,21.0105,...,-17.964465,-0.775910,17.510156,-16.965387,-19.894561,-17.223406,-20.968992,-17.964465,21.0105,1
5,21.0105,0.875752,-6.063294,-7.452100,-8.316755,-4.957570,-5.613936,5.226618,0.875752,21.0105,...,-6.502927,5.226618,12.159708,-16.135390,-18.487992,1.291731,-20.943832,-6.502927,21.0105,1

In [22]:
df.shape

(9070, 65)

## Final CSV (Output)

In [ ]:
df.to_csv('Malonylation_positive_(multiply).csv')