# CSV file 1

## Load dataset

In [1]:
import pandas as pd

fileName = 'Malo_spd3_pos copy.csv'
dataset = pd.read_csv(fileName, header=None, engine='python')
dataset.shape

(9070, 64)

In [2]:
dataset.head(5)

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,21.0,-8.135392,7.700772,3.112788,9.515943,2.965749,-6.366266,-2.241375,-8.135392,21.0,...,21.0,8.799818,-2.241375,-4.059431,-7.266304,-7.504407,-2.314355,-20.871413,8.799818,21.0
1,21.0,-9.452466,6.098857,0.704200,-4.722745,6.153088,-2.654906,-6.069538,-9.452466,21.0,...,21.0,7.766109,-6.069538,-1.254426,-13.609489,-12.501960,7.621302,-20.404866,7.766109,21.0
2,21.0,-8.640475,-3.246727,-4.329458,4.552375,-9.892394,1.903553,6.955528,-8.640475,21.0,...,21.0,-11.369550,6.955528,-1.569607,-12.856229,-12.856250,12.074999,-12.486377,-11.369550,21.0
3,21.0,-2.821141,4.635184,0.911059,-0.167009,0.586843,1.272641,-0.775522,-2.821141,21.0,...,21.0,-17.955487,-0.775522,17.501405,-16.956909,-19.884618,-17.214798,-20.958513,-17.955487,21.0
4,21.0,0.875315,-6.060264,-7.448376,-8.312599,-4.955092,-5.611131,5.224006,0.875315,21.0,...,21.0,-6.499677,5.224006,12.153632,-16.127327,-18.478752,1.291085,-20.933365,-6.499677,21.0

## Positive = 1

In [3]:
import numpy as np

dummy_one = np.ones(len(dataset), dtype='int')
series = pd.Series(dummy_one)
dataset = pd.concat([dataset, series], axis=1)

In [4]:
dataset.shape

(9070, 65)

In [5]:
dataset.head(5)

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,0
0,21.0,-8.135392,7.700772,3.112788,9.515943,2.965749,-6.366266,-2.241375,-8.135392,21.0,...,8.799818,-2.241375,-4.059431,-7.266304,-7.504407,-2.314355,-20.871413,8.799818,21.0,0
1,21.0,-9.452466,6.098857,0.704200,-4.722745,6.153088,-2.654906,-6.069538,-9.452466,21.0,...,7.766109,-6.069538,-1.254426,-13.609489,-12.501960,7.621302,-20.404866,7.766109,21.0,0
2,21.0,-8.640475,-3.246727,-4.329458,4.552375,-9.892394,1.903553,6.955528,-8.640475,21.0,...,-11.369550,6.955528,-1.569607,-12.856229,-12.856250,12.074999,-12.486377,-11.369550,21.0,0
3,21.0,-2.821141,4.635184,0.911059,-0.167009,0.586843,1.272641,-0.775522,-2.821141,21.0,...,-17.955487,-0.775522,17.501405,-16.956909,-19.884618,-17.214798,-20.958513,-17.955487,21.0,0
4,21.0,0.875315,-6.060264,-7.448376,-8.312599,-4.955092,-5.611131,5.224006,0.875315,21.0,...,-6.499677,5.224006,12.153632,-16.127327,-18.478752,1.291085,-20.933365,-6.499677,21.0,0

## After positive = 1 and save the new CSV file

In [6]:
dataset.to_csv('Malonylation_pos.csv')

## Remove unnecessary row and column

In [7]:
import pandas as pd

fileName = 'Malonylation_pos.csv'
dataset = pd.read_csv(fileName, header=None, engine='python')
dataset.shape

(9071, 66)

In [8]:
dataset.head(5)

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,64,65
0,NaN,0.0,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000,...,55.000000,56.000000,57.000000,58.000000,59.000000,60.000000,61.000000,62.000000,63.0,0
1,0.0,21.0,-8.135392,7.700772,3.112788,9.515943,2.965749,-6.366266,-2.241375,-8.135392,...,8.799818,-2.241375,-4.059431,-7.266304,-7.504407,-2.314355,-20.871413,8.799818,21.0,0
2,1.0,21.0,-9.452466,6.098857,0.704200,-4.722745,6.153088,-2.654906,-6.069538,-9.452466,...,7.766109,-6.069538,-1.254426,-13.609489,-12.501960,7.621302,-20.404866,7.766109,21.0,0
3,2.0,21.0,-8.640475,-3.246727,-4.329458,4.552375,-9.892394,1.903553,6.955528,-8.640475,...,-11.369550,6.955528,-1.569607,-12.856229,-12.856250,12.074999,-12.486377,-11.369550,21.0,0
4,3.0,21.0,-2.821141,4.635184,0.911059,-0.167009,0.586843,1.272641,-0.775522,-2.821141,...,-17.955487,-0.775522,17.501405,-16.956909,-19.884618,-17.214798,-20.958513,-17.955487,21.0,0

In [9]:
df = pd.DataFrame(dataset)

df = df.iloc[1:, 1:]

In [10]:
df.head(5)

,1,2,3,4,5,6,7,8,9,10,...,56,57,58,59,60,61,62,63,64,65
1,21.0,-8.135392,7.700772,3.112788,9.515943,2.965749,-6.366266,-2.241375,-8.135392,21.0,...,8.799818,-2.241375,-4.059431,-7.266304,-7.504407,-2.314355,-20.871413,8.799818,21.0,0
2,21.0,-9.452466,6.098857,0.704200,-4.722745,6.153088,-2.654906,-6.069538,-9.452466,21.0,...,7.766109,-6.069538,-1.254426,-13.609489,-12.501960,7.621302,-20.404866,7.766109,21.0,0
3,21.0,-8.640475,-3.246727,-4.329458,4.552375,-9.892394,1.903553,6.955528,-8.640475,21.0,...,-11.369550,6.955528,-1.569607,-12.856229,-12.856250,12.074999,-12.486377,-11.369550,21.0,0
4,21.0,-2.821141,4.635184,0.911059,-0.167009,0.586843,1.272641,-0.775522,-2.821141,21.0,...,-17.955487,-0.775522,17.501405,-16.956909,-19.884618,-17.214798,-20.958513,-17.955487,21.0,0
5,21.0,0.875315,-6.060264,-7.448376,-8.312599,-4.955092,-5.611131,5.224006,0.875315,21.0,...,-6.499677,5.224006,12.153632,-16.127327,-18.478752,1.291085,-20.933365,-6.499677,21.0,0

In [11]:
df.shape

(9070, 65)

## Final CSV (Output)

In [12]:
df.to_csv('Malonylation_positive.csv')