# CSV file mul and 1

## Load Data

In [1]:
import pandas as pd

fileName = 'INPUT_Pos.csv'
dataset = pd.read_csv(fileName, header=None, engine='python')
dataset.shape

(6323, 210)

In [2]:
dataset.head(5)

,0,1,2,3,4,5,6,7,8,9,...,200,201,202,203,204,205,206,207,208,209
0,25.0,-7.621622,25.0,-4.073401,10.678132,25.0,-2.064019,1.863486,15.214516,25.0,...,18.878213,-12.039233,18.408917,10.122598,-3.842773,-10.094064,6.922759,3.369797,9.050720,25.0
1,25.0,-10.210873,25.0,-11.158725,11.233107,25.0,-6.074320,3.549372,16.252113,25.0,...,18.783268,-17.054843,18.169037,20.430117,-11.612316,-13.928998,8.024381,6.082356,16.034864,25.0
2,25.0,-5.786733,25.0,2.112414,9.631775,25.0,1.363862,4.582179,20.408574,25.0,...,17.066976,-13.725526,19.376440,6.512890,-5.095527,-4.981503,7.309142,-3.834232,1.247721,25.0
3,25.0,-1.489660,25.0,-0.940700,8.968060,25.0,-2.129649,1.877027,15.987213,25.0,...,21.499562,-9.011896,17.234156,8.976824,-6.036873,-11.203179,-0.558877,6.830346,5.771250,25.0
4,25.0,-0.071078,25.0,-4.850721,9.321938,25.0,-5.973015,-0.816190,16.388874,25.0,...,19.785062,-10.686372,16.632949,12.894766,-4.726670,-7.829480,5.503704,-0.980487,3.734853,25.0

## CSV to list

In [3]:
import csv

with open('INPUT_Pos.csv', 'r') as f:
  reader = csv.reader(f)
  my_list = list(reader)

## Multiply Multiply by a certain number

In [4]:
import numpy as np

new_list = list(np.float_(my_list))


my_new_list = []
for i in new_list:
    my_new_list.append(i * 1.0005)

In [5]:
print(len(my_new_list))

6323

## Save the CSV file

In [6]:
import numpy as np
myarray = np.asarray(my_new_list)
np.savetxt("INPUT_Pos_mul.csv", myarray, delimiter=",")

## Load new data after multiplication

In [7]:
fileName = 'INPUT_Pos_mul.csv'
dataset = pd.read_csv(fileName, header=None, engine='python')
dataset.shape

(6323, 210)

In [8]:
dataset.head(5)

,0,1,2,3,4,5,6,7,8,9,...,200,201,202,203,204,205,206,207,208,209
0,25.0125,-7.625433,25.0125,-4.075437,10.683471,25.0125,-2.065051,1.864418,15.222123,25.0125,...,18.887652,-12.045252,18.418122,10.127659,-3.844694,-10.099111,6.926220,3.371482,9.055246,25.0125
1,25.0125,-10.215978,25.0125,-11.164304,11.238724,25.0125,-6.077357,3.551147,16.260240,25.0125,...,18.792660,-17.063371,18.178121,20.440332,-11.618122,-13.935963,8.028394,6.085397,16.042882,25.0125
2,25.0125,-5.789627,25.0125,2.113470,9.636591,25.0125,1.364544,4.584470,20.418779,25.0125,...,17.075509,-13.732389,19.386128,6.516146,-5.098074,-4.983994,7.312797,-3.836149,1.248345,25.0125
3,25.0125,-1.490405,25.0125,-0.941170,8.972544,25.0125,-2.130714,1.877966,15.995207,25.0125,...,21.510312,-9.016402,17.242773,8.981313,-6.039891,-11.208781,-0.559157,6.833761,5.774136,25.0125
4,25.0125,-0.071113,25.0125,-4.853146,9.326599,25.0125,-5.976002,-0.816598,16.397068,25.0125,...,19.794955,-10.691715,16.641265,12.901213,-4.729034,-7.833395,5.506456,-0.980977,3.736720,25.0125

## Positive = 1

In [9]:
dummy_one = np.ones(len(dataset), dtype='int')
series = pd.Series(dummy_one)
dataset = pd.concat([dataset, series], axis=1)

In [10]:
dataset.shape

(6323, 211)

In [11]:
dataset.head(5)

,0,1,2,3,4,5,6,7,8,9,...,201,202,203,204,205,206,207,208,209,0
0,25.0125,-7.625433,25.0125,-4.075437,10.683471,25.0125,-2.065051,1.864418,15.222123,25.0125,...,-12.045252,18.418122,10.127659,-3.844694,-10.099111,6.926220,3.371482,9.055246,25.0125,1
1,25.0125,-10.215978,25.0125,-11.164304,11.238724,25.0125,-6.077357,3.551147,16.260240,25.0125,...,-17.063371,18.178121,20.440332,-11.618122,-13.935963,8.028394,6.085397,16.042882,25.0125,1
2,25.0125,-5.789627,25.0125,2.113470,9.636591,25.0125,1.364544,4.584470,20.418779,25.0125,...,-13.732389,19.386128,6.516146,-5.098074,-4.983994,7.312797,-3.836149,1.248345,25.0125,1
3,25.0125,-1.490405,25.0125,-0.941170,8.972544,25.0125,-2.130714,1.877966,15.995207,25.0125,...,-9.016402,17.242773,8.981313,-6.039891,-11.208781,-0.559157,6.833761,5.774136,25.0125,1
4,25.0125,-0.071113,25.0125,-4.853146,9.326599,25.0125,-5.976002,-0.816598,16.397068,25.0125,...,-10.691715,16.641265,12.901213,-4.729034,-7.833395,5.506456,-0.980977,3.736720,25.0125,1

## After positive = 1 and save the new CSV file

In [12]:
dataset.to_csv('INPUT_Positive.csv')

## Remove unnecessary row and column

In [13]:
import pandas as pd

fileName = 'INPUT_Positive.csv'
dataset = pd.read_csv(fileName, header=None, engine='python')
dataset.shape

(6324, 212)

In [14]:
dataset.head(5)

,0,1,2,3,4,5,6,7,8,9,...,202,203,204,205,206,207,208,209,210,211
0,NaN,0.0000,1.000000,2.0000,3.000000,4.000000,5.0000,6.000000,7.000000,8.000000,...,201.000000,202.000000,203.000000,204.000000,205.000000,206.000000,207.000000,208.000000,209.0000,0
1,0.0,25.0125,-7.625433,25.0125,-4.075437,10.683471,25.0125,-2.065051,1.864418,15.222123,...,-12.045252,18.418122,10.127659,-3.844694,-10.099111,6.926220,3.371482,9.055246,25.0125,1
2,1.0,25.0125,-10.215978,25.0125,-11.164304,11.238724,25.0125,-6.077357,3.551147,16.260240,...,-17.063371,18.178121,20.440332,-11.618122,-13.935963,8.028394,6.085397,16.042882,25.0125,1
3,2.0,25.0125,-5.789627,25.0125,2.113470,9.636591,25.0125,1.364544,4.584470,20.418779,...,-13.732389,19.386128,6.516146,-5.098074,-4.983994,7.312797,-3.836149,1.248345,25.0125,1
4,3.0,25.0125,-1.490405,25.0125,-0.941170,8.972544,25.0125,-2.130714,1.877966,15.995207,...,-9.016402,17.242773,8.981313,-6.039891,-11.208781,-0.559157,6.833761,5.774136,25.0125,1

In [15]:
df = pd.DataFrame(dataset)

df = df.iloc[1:, 1:]

In [16]:
df.head(5)

,1,2,3,4,5,6,7,8,9,10,...,202,203,204,205,206,207,208,209,210,211
1,25.0125,-7.625433,25.0125,-4.075437,10.683471,25.0125,-2.065051,1.864418,15.222123,25.0125,...,-12.045252,18.418122,10.127659,-3.844694,-10.099111,6.926220,3.371482,9.055246,25.0125,1
2,25.0125,-10.215978,25.0125,-11.164304,11.238724,25.0125,-6.077357,3.551147,16.260240,25.0125,...,-17.063371,18.178121,20.440332,-11.618122,-13.935963,8.028394,6.085397,16.042882,25.0125,1
3,25.0125,-5.789627,25.0125,2.113470,9.636591,25.0125,1.364544,4.584470,20.418779,25.0125,...,-13.732389,19.386128,6.516146,-5.098074,-4.983994,7.312797,-3.836149,1.248345,25.0125,1
4,25.0125,-1.490405,25.0125,-0.941170,8.972544,25.0125,-2.130714,1.877966,15.995207,25.0125,...,-9.016402,17.242773,8.981313,-6.039891,-11.208781,-0.559157,6.833761,5.774136,25.0125,1
5,25.0125,-0.071113,25.0125,-4.853146,9.326599,25.0125,-5.976002,-0.816598,16.397068,25.0125,...,-10.691715,16.641265,12.901213,-4.729034,-7.833395,5.506456,-0.980977,3.736720,25.0125,1

In [17]:
df.shape

(6323, 211)

## Final CSV (Output)

In [18]:
df.to_csv('INPUT_Positive_(multiply).csv')