# CSV file 0

## Load dataset

In [1]:
import pandas as pd

fileName = 'Meth_spd3_neg copy.csv'
dataset = pd.read_csv(fileName, header=None, engine='python')
dataset.shape

(14972, 64)

In [2]:
dataset.head(5)

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,21.0,-9.251048,0.943639,-0.031425,2.041655,-4.146520,3.491820,4.034271,-9.251048,21.0,...,21.0,-6.099400,4.034271,-3.336774,-15.813262,-17.030062,1.631072,-20.991369,-6.099400,21.0
1,21.0,-12.770338,4.797623,1.758554,11.464305,-5.923655,4.948282,2.246607,-12.770338,21.0,...,21.0,-8.037327,2.246607,-2.014212,-13.497183,-16.951739,6.147421,-5.896488,-8.037327,21.0
2,21.0,-3.413651,-1.534176,-6.633155,12.253640,10.065576,-10.564093,3.567438,-3.413651,21.0,...,21.0,-8.171947,3.567438,-0.919204,-10.762807,-15.115749,8.208736,-0.050775,-8.171947,21.0
3,21.0,-7.206878,7.501095,-4.242959,-2.348388,5.464256,-5.464118,-5.418254,-7.206878,21.0,...,21.0,7.922281,-5.418254,-2.156342,-9.754236,-11.696861,7.749768,-20.468692,7.922281,21.0
4,21.0,-7.183890,3.377660,0.165740,8.010740,-1.707288,2.149678,-0.452000,-7.183890,21.0,...,21.0,-0.144630,-0.452000,1.273002,-8.436225,-7.719423,3.897118,-6.626035,-0.144630,21.0

## Negative = 0

In [3]:
import numpy as np

dummy_one = np.zeros(len(dataset), dtype='int')
series = pd.Series(dummy_one)
dataset = pd.concat([dataset, series], axis=1)

In [4]:
dataset.shape

(14972, 65)

In [5]:
dataset.head(5)

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,0
0,21.0,-9.251048,0.943639,-0.031425,2.041655,-4.146520,3.491820,4.034271,-9.251048,21.0,...,-6.099400,4.034271,-3.336774,-15.813262,-17.030062,1.631072,-20.991369,-6.099400,21.0,0
1,21.0,-12.770338,4.797623,1.758554,11.464305,-5.923655,4.948282,2.246607,-12.770338,21.0,...,-8.037327,2.246607,-2.014212,-13.497183,-16.951739,6.147421,-5.896488,-8.037327,21.0,0
2,21.0,-3.413651,-1.534176,-6.633155,12.253640,10.065576,-10.564093,3.567438,-3.413651,21.0,...,-8.171947,3.567438,-0.919204,-10.762807,-15.115749,8.208736,-0.050775,-8.171947,21.0,0
3,21.0,-7.206878,7.501095,-4.242959,-2.348388,5.464256,-5.464118,-5.418254,-7.206878,21.0,...,7.922281,-5.418254,-2.156342,-9.754236,-11.696861,7.749768,-20.468692,7.922281,21.0,0
4,21.0,-7.183890,3.377660,0.165740,8.010740,-1.707288,2.149678,-0.452000,-7.183890,21.0,...,-0.144630,-0.452000,1.273002,-8.436225,-7.719423,3.897118,-6.626035,-0.144630,21.0,0

## After negative = 0 and save the new CSV file

In [6]:
dataset.to_csv('Methylation_neg.csv')

## Remove unnecessary row and column

In [7]:
import pandas as pd

fileName = 'Methylation_neg.csv'
dataset = pd.read_csv(fileName, header=None, engine='python')
dataset.shape

(14973, 66)

In [8]:
dataset.head(5)

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,64,65
0,NaN,0.0,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000,...,55.000000,56.000000,57.000000,58.000000,59.000000,60.000000,61.000000,62.000000,63.0,0
1,0.0,21.0,-9.251048,0.943639,-0.031425,2.041655,-4.146520,3.491820,4.034271,-9.251048,...,-6.099400,4.034271,-3.336774,-15.813262,-17.030062,1.631072,-20.991369,-6.099400,21.0,0
2,1.0,21.0,-12.770338,4.797623,1.758554,11.464305,-5.923655,4.948282,2.246607,-12.770338,...,-8.037327,2.246607,-2.014212,-13.497183,-16.951739,6.147421,-5.896488,-8.037327,21.0,0
3,2.0,21.0,-3.413651,-1.534176,-6.633155,12.253640,10.065576,-10.564093,3.567438,-3.413651,...,-8.171947,3.567438,-0.919204,-10.762807,-15.115749,8.208736,-0.050775,-8.171947,21.0,0
4,3.0,21.0,-7.206878,7.501095,-4.242959,-2.348388,5.464256,-5.464118,-5.418254,-7.206878,...,7.922281,-5.418254,-2.156342,-9.754236,-11.696861,7.749768,-20.468692,7.922281,21.0,0

In [9]:
df = pd.DataFrame(dataset)

df = df.iloc[1:, 1:]

In [10]:
df.head(5)

,1,2,3,4,5,6,7,8,9,10,...,56,57,58,59,60,61,62,63,64,65
1,21.0,-9.251048,0.943639,-0.031425,2.041655,-4.146520,3.491820,4.034271,-9.251048,21.0,...,-6.099400,4.034271,-3.336774,-15.813262,-17.030062,1.631072,-20.991369,-6.099400,21.0,0
2,21.0,-12.770338,4.797623,1.758554,11.464305,-5.923655,4.948282,2.246607,-12.770338,21.0,...,-8.037327,2.246607,-2.014212,-13.497183,-16.951739,6.147421,-5.896488,-8.037327,21.0,0
3,21.0,-3.413651,-1.534176,-6.633155,12.253640,10.065576,-10.564093,3.567438,-3.413651,21.0,...,-8.171947,3.567438,-0.919204,-10.762807,-15.115749,8.208736,-0.050775,-8.171947,21.0,0
4,21.0,-7.206878,7.501095,-4.242959,-2.348388,5.464256,-5.464118,-5.418254,-7.206878,21.0,...,7.922281,-5.418254,-2.156342,-9.754236,-11.696861,7.749768,-20.468692,7.922281,21.0,0
5,21.0,-7.183890,3.377660,0.165740,8.010740,-1.707288,2.149678,-0.452000,-7.183890,21.0,...,-0.144630,-0.452000,1.273002,-8.436225,-7.719423,3.897118,-6.626035,-0.144630,21.0,0

In [11]:
df.shape

(14972, 65)

## Final CSV (Output)

In [12]:
df.to_csv('Methylation_negative.csv')